MYSQLHOST=mysql.railway.internal
MYSQLPORT=3306
MYSQLUSER=root
MYSQLPASSWORD=your-password-here
MYSQLDATABASE=railway
API_PORT=3001
VITE_API_BASE_URL=http://localhost:3001
AUTH_ADMIN_EMAIL=jennypatanag@gmail.com
AUTH_ADMIN_USERNAME=jen25
AUTH_ADMIN_PASSWORD=admin123
AUTH_STUDENT_EMAIL=hermoso_lyrika@plpasig.edu.ph
AUTH_STUDENT_USERNAME=leeRiKang
AUTH_STUDENT_PASSWORD=student123
